@import "./colours.scss";
.el_btn {
  padding: 7px 30px;
  border: none;
  outline: none;
  border-radius: 20px;
  // font-weight: bold;
  font-size: 15px;
}
.el_btn_dark {
  background-color: $dark;
  color: #fff;
}
.el_btn_theme {
  background-color: $btn_theme;
}
