$white: #ffffff;
$cyan-blue: #0f6496;
$red: #dc143c;
$grey: #bbbbbb;
$light-grey: #eeeeee;
$light-bg-Color: #ddd;
$theme-color: #2184be;
$back-button: #eeeeee;
$app-color : #2184be;
$btn-success : #3fb28f;
$btn-warning : #eb9532;
$btn-light : #6c757d;
$brown-color : #a52a2a;
$color-blue : #0000ff;
$dark: #000;
$btn_theme: #F6B250;