@import "../../globalstyles/fonts.scss";
@import "../../globalstyles/buttons.scss";
.nav {
  & > ul {
    padding: 0px;
    margin: 0px;
    display: flex;
    list-style-type: none;
    li {
      padding: 3px 15px;
      min-width: 80px;
      font-family: $fontfamily_1;
      font-size: $font_lg;
      color: #000;
      position: relative;
      & > ul {
        display: none;
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        position: absolute;
        width: 300px;
        li {
          background-color: aliceblue;
        }
      }
      &:hover {
        color: $theme-color;
        cursor: pointer;
        & > ul {
          display: block;
          animation: linear 2s;
        }
      }
    }
  }
}
.contact_us {
  background-color: $theme-color;
  color: #fff;
  font-family: $fontfamily_1;
  font-size: $font_md;
  border-radius: 30px;
}
.Main_logo {
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: bottom;
}
.heading_color {
  color: $theme-color;
}

.product_card {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  padding: 10px;
  background-color: $theme-color;
  position: relative;
  justify-content: center;
  display: flex;
}
.product_card_btn {
  position: absolute;
  bottom: 10px;
  transition: all 0.5s ease;
  border: 3px solid #000 !important;

  &:hover {
    background-color: #fff;
    color: #000;
    border: 3px solid currentColor;
  }
}
.list_bg {
  background-color: $theme-color;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  padding: 15px;
  transition: background-color 0.5s cubic-bezier(0.26, 0.49, 0.43, 0.46),
    transform 0.5s cubic-bezier(0.26, 0.49, 0.43, 0.46);
  border: 3px solid $theme-color;
  &:hover {
    background-color: #fff;
    transform: scale(1.1);
    border: 3px solid $theme-color;
    cursor: pointer;
  }
  img {
    width: 100%;
    height: 100%;
  }
}

.right_dot_nav {
  fill: transparent;
  &:hover {
    fill: $theme-color;
    cursor: pointer;
  }
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.fade {
  animation: fade 1.5s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

img {
  // width: 100%;
  height: auto;
  display: block;
}

.round_bg {
  background-color: #f6b250;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  animation: round_bg cubic-bezier(0.075, 0.82, 0.165, 1) 3s infinite;
}

@keyframes round_bg {
  0% {
    width: 0px;
    height: 0px;
    top: 0px;
    left: 0px;
  }
  100% {
    width: 100px;
    height: 100px;
    top: -25px;
    left: -20px;
  }
}

.main-div {
  font-family: $fontfamily_1;
}
.qoute_div {
  background-color: $theme-color;
  padding: 10px;
  border-radius: 50%;
}

.cube_img {
  animation: rotate 4s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rocket_img {
  rotate: 50deg;
  position: absolute;
  bottom: 0px;
}

.drop_down_div {
  width: 300px;
  height: 300px;
  display: none;
  position: absolute;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  box-shadow: 0px 0px 8px gray;
  background-color: #fff;
}
@media screen and (max-width: 1000px) {
}
