@import "../../globalstyles/fonts.scss";
@import "../../globalstyles/buttons.scss";
.nav {
  ul {
    padding: 0px;
    margin: 0px;
    display: flex;
    list-style-type: none;
    li {
      padding: 3px 15px;
      min-width: 80px;
      font-family: $fontfamily_1;
      font-size: $font_lg;
      color: #000;
      // font-weight: bold;
      &:hover {
        color: $theme-color;
        cursor: pointer;
      }
    }
  }
}
.contact_us {
  background-color: $theme-color;
  color: #fff;
  font-family: $fontfamily_1;
  font-size: $font_md;
  border-radius: 30px;
}
.Main_logo {
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: bottom;
}
.heading_color {
  color: $theme-color;
}

.product_card {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  padding: 10px;
  background-color: $theme-color;
  position: relative;
  justify-content: center;
  display: flex;
}
.product_card_btn {
  position: absolute;
  bottom: 10px;
  transition: all 0.5s ease;
  border: 3px solid #000 !important;

  &:hover {
    background-color: #fff;
    color: #000;
    border: 3px solid currentColor;
  }
}
.list_bg {
  background-color: $theme-color;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  padding: 15px;
  transition: background-color 0.5s cubic-bezier(0.26, 0.49, 0.43, 0.46),
    transform 0.5s cubic-bezier(0.26, 0.49, 0.43, 0.46);
  border: 3px solid $theme-color;
  &:hover {
    background-color: #fff;
    transform: scale(1.1);
    border: 3px solid $theme-color;
    cursor: pointer;
  }
  img {
    width: 100%;
    height: 100%;
  }
}

.right_dot_nav {
  fill: transparent;
  &:hover {
    fill: $theme-color;
    cursor: pointer;
  }
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.fade {
  animation: fade 1.5s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

img {
  // width: 100%;
  height: auto;
  display: block;
}

.round_bg {
  background-color: #f6b250;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: -25px;
  left: -20px;
}
.main-div {
  font-family: $fontfamily_1;
}
.rocket_img {
  rotate: 30deg;
  top: -50px;
  right: 90px;
  position: absolute;
}
.qoute_div {
  background-color: $theme-color;
  padding: 10px;
  border-radius: 50%;
}
